language: java
jdk: openjdk11

# https://github.com/travis-ci/travis-ci/issues/8408
before_install:
  - unset _JAVA_OPTIONS


matrix:
  include:
  - env: 
    FOLDER=lab1
    PRO_SPECIAL_BUILD='early-access' 
  - env: 
    FOLDER=lab2
    PRO_SPECIAL_BUILD='early-access'
  - env: 
    FOLDER=lab3
    PRO_SPECIAL_BUILD='early-access-amber' 
  
install:
  - cd $FOLDER
  - java pro_wrapper.java version

script:
  - ./pro/bin/pro version
  - ./pro/bin/pro
