language: java
jdk: openjdk11

# https://github.com/travis-ci/travis-ci/issues/8408
before_install:
  - unset _JAVA_OPTIONS

env: 
  - PRO_SPECIAL_BUILD='early-access'
  
matrix:
  include:
  -env: FILE=lab1
  -env: FILE=lab2
install:
  - cd $FILE
  - java pro_wrapper.java version

script:
  - ./pro/bin/pro version
  - ./pro/bin/pro
